
body {
  background-color: #984447;
  transition-duration: .5s;
  font-size: 100%;
}

.Not-Selectable{

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.Tab{
  display:block;
  overflow:hidden;
}

@keyframes active-tab{
  0% {filter:drop-shadow(2px 2px 10px rgb(59, 148, 148));}
  50% {filter:drop-shadow(12px 12px 20px rgb(59, 60, 148));}
  100% {filter:drop-shadow(2px 2px 10px rgb(59, 148, 148));}
  
}

.Active-Tab{
  animation-timing-function: eas-in;
  animation-name: active-tab;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

.Tab-Container{
  
  border:solid rgba(0, 0, 0, 0.623) .25em;
  border-radius: .25em;
  height:10em;
  width:10em;

  display:flex;
  flex-direction: column;
  position:fixed;
  left:50%;
  min-height: 5em;
  min-width: 10em;
}

.Tab-Header{
  display:inline-block;
  border-radius: .25em .25em 0% 0%;
  min-height: 1.3em;
  max-height: 1.3em;
  background-color: rgb(54, 177, 177);
  position:static;
}

.Window-Close-Button{
  border-radius: .25em .25em 0 0;
  position:absolute;
  right:0em;
  padding: .05em;
}

.Window-Name{
  overflow:hidden;
}


.Tab-Body{
  height: 100%;
  float:none;
  padding:.5em;
  overflow:auto;
  background-color: rgb(219, 67, 67);
}


.Tab-Resize{
  min-width: 1.2em;
  max-width: 1.2em;
  min-height: 1.2em;
  max-height: 1.2em;

  position:absolute;
  right:0px;
  bottom:0px;
}